{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}

<h1 align="center"> Your Information </h1>
<br />
<div class="card-header">
    {{ user.first_name + " " + user.last_name}}
</div>

<div class="card-body">
    <p class="card-text">
        <div class="container">
            <div class="row">
                <div class="col">
                    <strong>Name:</strong>
                    {{user.first_name + " " + user.last_name}}<br />

                    <strong>Email:</strong>
                    {{user.email}} <br />

                    <strong>Email:</strong>
                    {{user.email}} <br />
                    


                </div>
            </div>
        </div>
    </p>
</div>


{% endblock %}